{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}

{% block heading %}
<h1>Shopping Cart</h1>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-wrap justify-content-center flex-fill">
    <div class="row">
        <div class="col-12 px-1">
            {% if request.session.cart %}
            <form id="form-edit-cart" action="{% url 'edit_cart' %}" method="POST">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Plant</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                            <tr>
                                <td>{{ cart_item.plant.name }}</td>
                                <td>
                                    <input type="number" id="quantity-{{ cart_item.plant.id }}"
                                        name="quantity-{{ cart_item.plant.id }}" value="{{ cart_item.quantity }}"
                                        min="1" max="20" class="form-control form-edit-quantity" required>
                                </td>
                                <td class="text-nowrap">{{ cart_item.price }} €</td>
                                <td class="text-nowrap">{{ cart_item.total }} €</td>
                                <td>
                                    <button id="delete-{{ cart_item.plant.id }}" class="btn btn-danger form-delete-item"
                                        type="button">
                                        <i class="fas fa-trash"></i>
                                        <span class="sr-only">Remove Plant</span>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <p>Total Cost {{ total_cost }} €</p>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                    <a class="btn btn-success" href="{% url 'plants' %}"><i class="fas fa-arrow-left me-1"></i>Back to
                        Plants</a>
                    <a class="btn btn-success ms-3" href="{% url 'checkout' %}"><i
                            class="fas fa-lock me-1"></i>Checkout</a>
                </div>
            </form>
            {% else %}
            <h2 class="text-center">No plants in the cart! Start shopping!</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}