/* General flexbox settings */

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/* Bootstrap badge settings */

.badge {
    font-size: 0.5em;
}

/*
Override Bootstrap settings for card images
Tip was found on https://stackoverflow.com/a/54207386
*/

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}