/* General font settings */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');

h1,
h2,
.navbar-brand,
.nav-link,
p,
a,
button,
label,
input,
select,
td,
.toast-header,
.toast-body {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

h2 {
    font-size: 1.2em;
}

p {
    font-weight: 600;
}

td {
    font-weight: 600;
}

/* Bootstrap overrides */

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    font-weight: 700;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    font-weight: 700;
}

/* General flexbox settings */

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/* Bootstrap badge settings */

.badge {
    font-size: 0.5em;
}

/*
Override Bootstrap settings for card images
Tip was found on https://stackoverflow.com/a/54207386
*/

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

/* Footer */

footer {
    font-size: 0.8em;
}
