/* General flexbox settings */

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}