{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-wrap justify-content-center flex-fill">
    <div class="row">
        <div class="col-12 col-lg-4 offset-lg-4">
            <div class="card">
                <a href="#">
                    <img src="{{ blog_post.plant.image.url }}" class="card-img-top" alt="{{ blog_post.plant.name }}">
                </a>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ blog_post.title }}</h5>
                    <p class="card-text text-muted">
                        <em>
                            {{ blog_post.date | date:"F j, Y" }} by {{ blog_post.profile.user.get_full_name }}
                        </em>
                    </p>
                    <p class="card-text">{{ blog_post.body }}</p>
                </div>
            </div>
            <div class="me-3 mt-3">
                <a class="btn btn-success" href="{% url 'show_blog_posts' %}">
                    <i class="fas fa-arrow-left me-1"></i>
                    Back to Blog Posts
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}