{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block heading %}
<h1>Blog</h1>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-wrap flex-fill">
    <div class="row">
        {% for blog_post in blog_posts %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-5">
            <div class="card">
                <a class="text-decoration-none" href="{% url 'blog_post_details' blog_post.id %}">
                    <img src="{{ blog_post.plant.image.url }}" class="card-img-top" alt="{{ blog_post.plant.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-black">{{ blog_post.title }}</h5>
                        <p class="card-text text-muted">
                            <em>
                                {{ blog_post.date | date:"F j, Y" }} by {{ blog_post.profile.user.get_full_name }}
                            </em>
                        </p>
                    </div>
                </a>
            </div>
            {% if request.user.is_superuser %}
            <div class="mt-3">
                <a class="btn btn-success" href="{% url 'edit_blog_post' blog_post.id %}"><i class="fas fa-edit me-1"></i>Edit</a>
                <a class="btn btn-danger" href="{% url 'del_blog_post' blog_post.id %}"><i
                        class="fas fa-trash-alt me-1"></i>Delete</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}