{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
{% endblock %}

{% block heading %}
<h1>Delete Plant</h1>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-wrap justify-content-center flex-fill">
    <div class="row mb-3">
        <div class="col-12 d-flex flex-column">
            <h2 class="text-center">Confirm Deletion</h2>
            <form action="{% url 'del_plant' plant.id %}" method="POST">
                {% csrf_token %}
                <p class="text-center">Are you sure you want to delete {{ plant.name }}?</p>
                <div class="d-flex flex-wrap justify-content-center">
                    <a href="{% url 'plants' %}" class="btn btn-danger me-3 mt-3">Cancel</a>
                    <button class="btn btn-success btn-submit mt-3" type="submit">Delete Plant</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}