{% extends "base.html" %}
{% load static %}
{% load range_tag %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plants/css/plants.css' %}">
{% endblock %}

{% block heading %}
<h1>Plants</h1>
{% endblock %}

{% block content %}
<div class="container d-flex flex-column flex-fill">
    <!-- Sort functionality -->
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <select id="sort-selector" class="form-select my-3" aria-label="Sort By">
                <option value="default" {% if sort.key == None and sort.direction == None %}selected{% endif %}>
                    Sort By
                </option>
                <option value="name_asc" {% if sort.key == 'name' and sort.direction == 'asc' %}selected{% endif %}>
                    Name (A-Z)
                </option>
                <option value="name_desc" {% if sort.key == 'name' and sort.direction == 'desc' %}selected{% endif %}>
                    Name (Z-A)
                </option>
                <option value="price_asc" {% if sort.key == 'price' and sort.direction == 'asc' %}selected{% endif %}>
                    Price (Low to High)
                </option>
                <option value="price_desc" {% if sort.key == 'price' and sort.direction == 'desc' %}selected{% endif %}>
                    Price (High to Low)
                </option>
                <option value="category_asc"
                    {% if sort.key == 'category' and sort.direction == 'asc' %}selected{% endif %}>
                    Category (A-Z)
                </option>
                <option value="category_desc"
                    {% if sort.key == 'category' and sort.direction == 'desc' %}selected{% endif %}>
                    Category (Z-A)
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        {% for plant in plants %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
            <div class="card">
                <a class="text-decoration-none" href="{% url 'plant_details' plant.id %}">
                    <img src="{{ plant.image.url }}" class="card-img-top" alt="{{ plant.name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title text-black">
                            {{ plant.name }}
                        </h5>
                        <p class="card-text text-muted"><em>{{ plant.botanical_name }}</em></p>
                        {% if plant.discount_price %}
                        <p class="card-text text-danger ms-auto mt-auto">
                            <del class="text-black me-3">{{ plant.price }} €</del>
                            {{ plant.discount_price }} €
                        </p>
                        {% else %}
                        <p class="card-text text-black ms-auto mt-auto">{{ plant.price }} €</p>
                        {% endif %}
                    </div>
                </a>
                <div class="card-footer text-muted">
                    <a class="text-decoration-none text-muted"
                        href="{% url 'plants' %}?category={{ plant.category.filter_name }}">
                        <i class="fas fa-seedling me-1"></i>{{ plant.category.name }}
                    </a>
                </div>
            </div>
            {% if request.user.is_superuser %}
            <div class="mt-3">
                <a class="btn btn-success" href="{% url 'plants' %}"><i class="fas fa-edit me-1"></i>Edit</a>
                <a class="btn btn-danger" href="{% url 'plants' %}"><i class="fas fa-trash-alt me-1"></i>Delete</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block footer %}
{% if comments %}
<hr>
<div class="container">
    <div class="row">
        {% for comment in comments %}
        <div class="col-12 col-md-4 d-flex flex-column">
            <p>
                {% for i in 0|range:comment.rating %}
                <i class="fas fa-star" aria-hidden="true"></i>
                {% endfor %}
                <span class="sr-only">User Rating: {{ comment.rating }} stars.</span>
            </p>
            <p><strong>{{ comment.title }}</strong></p>
            <p>{{ comment.comment }}</p>
            <p><em>{{ comment.profile.user.get_full_name }}</em></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{% static 'plants/js/plants.js' %}"></script>
{% endblock %}