/* Allow sort selector to shrink but not to grow */

#sort-selector {
    flex: 0 1 25rem;
}

/* Allow inputs with type number to shrink but not to grow */

input[type="number"] {
    flex: 0 1 5rem;
}